@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --color-black: hsl(0, 0%, 0%);

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;

  --font-weight-regular: 400;
  --font-weight-bold: 800;

  --fs-h1: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  --fs-h2: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  --fs-h3: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);

  --width: clamp(20.4375rem, 19.1831rem + 5.3521vw, 24rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  background-color: var(--color-yellow);
  display: grid;
  min-height: 100vh;
}

h1,h2,h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  align-self: center;
  justify-self: center;
}

.main {
}

.text-preset-1 {
  font-size: var(--fs-h1);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-bold);
}

.text-preset-2 {
  font-size: var(--fs-h2);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-regular);
}

.text-preset-3 {
  font-size: var(--fs-h3);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-regular);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.card {
  background-color: var(--color-white);
  border-radius: 20px;
  border: 1px solid var(--color-gray-950);
  filter: drop-shadow(8px 8px var(--color-black));
  padding: var(--spacing-300);
  width: var(--width);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  .card__img {
    border-radius: 10px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
  }

  .card__title {
    &:hover {
      color: var(--color-yellow);
      cursor: pointer;
    }
  }

  .card__description {
    color: var(--color-gray-500);
  }

  .card__badge {
    background-color: var(--color-yellow);
    color: var(--color-gray-950);
    border-radius: 4px;
    padding-block: 4px;
    padding-inline: 12px;
  }

  .card__author {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
  }
}

